<header>
    <div  id="navbarHeader">
        <div class="container">
            <div class="row" style="float: right !important;">
                <div class="col-sm-8 col-md-7 py-4">
                    
                    <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="GET">
                        <input class="form-control mr-sm-2 no-radius" type="search" placeholder="Search"
                            aria-label="Search" name="search">
                        <button class="btn btn-outline-dark my-2 my-sm-0 no-radius" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </div>
              
            </div>
       
    <div class="navbar navbar-light bg-light sticky-top p-3 mb-4 bg-white rounded no-radius">
        <div class="container d-flex justify-content-between">
            <a href="/" class="mx-auto navbar-brand d-flex align-items-center">
        
                <h1 class="text-center my-2 head" style="font-family: Cyreal!important; ">GALLERY</h1>
            </a>
           
        </div>
    </div>
</div>
</div>
</header>